* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  border-bottom: 2px solid rgb(223, 216, 216);
}
.image {
  height: 7vh;
  width: 9vw;
}
.main {
  padding: 15px;
  border: 1px solid rgb(213, 202, 202);
  width: 21vw;
  height: 42vh;
  border-radius: 10px;
}
.heading {
  font-size: 20px;
  padding-bottom: 10px;
}
.input {
  margin: -3px 10px;
  width: 19vw;
  height: 4vh;
  border: 1px solid rgb(152, 138, 138);
  border-radius: 4px;
}

.margin {
  margin: 10px;
}
.heading {
  font-weight: 200;
}
.bold {
  font-size: 14px;
  font-weight: 550;
}

.continuing {
  margin: 16px;
  font-size: 13px;
  font-weight: lighter;
}
.continuing a {
  color: rgb(4, 108, 160);
}
.continuing a:hover{
  color: rgb(4, 52, 75);
}
.deco {
  text-decoration: none;
  color: rgb(10, 78, 151);
}
.deco:hover{
  text-decoration: underline;
  color: rgb(8, 65, 126);
}
.horizontal {
  margin: 20px 18px;
  border: 0.1px solid rgb(241, 238, 238);
}
.button {
  width: 19vw;
  height: 4vh;
  border: 0px;
  border-radius: 14px;
  background-color: rgb(236, 236, 4);
}
.button:hover{
  background-color: rgb(253, 219, 3);
}
.foot {
  font-size: 12px;
}
.foot p {
  color: rgb(42, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}
.conditions ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conditions ul li{
  color: rgb(10, 66, 131);
  text-decoration: none;
  list-style: none;
  margin: 20px 15px;
}
.conditions ul li a{
  text-decoration: none;
}
.conditions ul li a:hover{
  color: rgb(7, 53, 106);
  text-decoration: underline;
}

/* responsiveness break at 1165 width */
